# Logs
logs
*.log

# Distribution / packaging
env/
build/
dist/
downloads/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

vcap-local.json

node_modules/
.vscode/
.env
