.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;  
}

.square {
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  padding: 2.5px;
  font-size: 20px;
  text-align: center;
  color: white;
}

.ball {
  width: 40px;
  height: 40px;
  cursor: move;
  background-image: url('ball.svg');
}

.player {
  line-height: 40px;
  width: 40px;
  height: 40px;
  font: 30px Georgia bold;
  text-align: center;
  color: #DEB500;
  background: #004A99;
  border-radius: 20px;
  cursor: move;
}

.otherPlayer {
  line-height: 40px;
  width: 40px;
  height: 40px;
  font: 30px Georgia bold;
  text-align: center;
  color: white;
  background: #DC052D;
  border-radius: 20px;
  cursor: move;
}

.container {
  background-repeat: no-repeat;
  background-image: url('field.svg');
}

@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
      max-width: 1170px;
  }
}
