aside.chat {
  background-color: yellow;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: scroll;
}

aside.chat ul {
  list-style: none;
  flex-grow: 1;
}

aside.chat ul li.left {
  text-align: left;
  border-left: blue 4px solid;
  padding-left: 10px;
  margin-bottom: 10px;
}

aside.chat ul li.right {
  text-align: right;
  border-right: red 4px solid;
  padding-right: 10px;
  margin-bottom: 10px;
}

aside.chat input {
  margin: -10px;
}
