<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Olzhas Askar">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Overpass'>
  <link rel="stylesheet" href="../static/css/style.css">
  <title>ayaqdop</title>
<body>

<div class="bgimg">
  <div class="topleft">
    <p>ayaqdop</p>
  </div>
  <div class="middle">
    <h1>COMING SOON</h1>
    <hr>
    <p id="ticker"></p>
  </div>
  <div class="bottomleft">
    <p>wait for it!</p>
  </div>
</div>

<script src="../static/js/index.js"></script>
</body>
</html>
