* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
main.game {
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: #003300;
  grid-template: 9fr 1fr / 8fr 2fr;
}
.centered {
  display: block;
  margin: 0 auto;
}
